/node_modules
/coverage
.DS_Store
*.pem
*.p12
*.cer
*.key
*.p8
*.keychain-db
*.xcarchive
*.mobileprovision
*.provisionprofile
npm-debug.log*
.env*
/outputs/
/desktop/.ui-build/
/desktop/.native-build/
